.app{
  text-align: center ;
  display: grid;
  gap: 10px;
}
.container{
  display:  flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;

}
.countdown{
  display: grid;
  align-items: center;
  justify-items: center;
  background: #10B981;
  color: white;
  border-radius: 0.25rem;
  padding: 1rem;

  font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.countdown p {
  margin: 0px !important;
}

.danger{
  background-color: #EF4444;
}

footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: #F9FAFB;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
}

footer a{
  text-decoration: none;
  color: #10B981;
}

footer a:hover{
  color: #0ca06e;
}